body {
 background: #222;   
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   margin: 0px;
    
}

#header {
    text-align: center;
    xxmargin: 30px;
    
}

#headerBanner {
    
    font-size: 3.5em;
    padding: 10px 0 10px 0;
    font-family: Courier;
    background: #eee;
     color: #222;  
    
}

#headerAttribution {
background: #eee;
 font-family: Courier;
 font-size: 0.9em;
 padding-bottom: 10px;
}

#headerAttribution a {
	text-decoration:underline;
	color: #444;
	xxfont-weight: bold;
	font-style: italic;
}

#headerSpans {
    width: 1080px;
	margin: 0 auto;
	xxpadding-left: 20px;
	padding-left: 130px;
	background: white;
}

#headerIntro {
    

    font-size 2.2em;
    xxfont-weight: bold;
    color: white;
}

#headerAreas {
	margin-top: 15px;
	margin-bottom: 15px;
}

#headerSpans div {
    padding: 10px;
    float: left;
    xxmargin-right: 6px;
    font-weight: bold;
    	width: 240px !important;
	height: 20px;
	margin: 5px;
	color: white;
}

#headerButtons {
	margin-bottom: 10px;
}

#hint {
	font-size: 0.8em;
	color: white;
	font-style: italic;
}

.pipe {
	color: white;
}

.clear {
	clear: both;
}



.card {
    list-style-type: none;   
    margin: 5px;
    height: 50px;
}


.zero {
    xxbackground: black;
    font-size: 1.3em;
    margin-left: 20px;
    
}

.tab {
    max-height: 10px;
    max-width: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border: solid thin white;
    background-color: gray;
    float:left;
    
    
}

.toptab {

    border: solid thin white;
    background-color: gray;
    xxposition:sticky;
    max-height: 10px;
    max-width: 10px;
    margin-right: 10px;
    margin-top: 5px;
    
    
    
}

.area.one {
    background: #038080;  
}

.area.two {
    background: #707002;    
}

.area.three {
    background: #015E01;   
}

.area.four {
    background: #6E0000;   
}

.slogan.one {
    background: #CCFFFF;  
}

.slogan.two {
    background: #FFFF99;    
}

.slogan.three {
    background: #99FFC3;   
}

.slogan.four {
    background: #FF9999; 
    
}

.oneX {
    background: #038080;
    font-size: 1.2em;
}

.twoX {
    background: #707002;
    font-size: 1.2em;
    
}

.threeX {
    background: #015E01;   
    font-size: 1.2em;
}

.fourX {
    background: #6E0000;   
    font-size: 1.2em;
}

.area {
    
    text-align: center;
    font-size: 1.2em;
    margin-top: 4px;
    color: #FFF;
    
}

.slogan {
    
    text-align: center;
    font-size: 0.9em;  
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    height: 50px;

}

.ThinkingX {
    xxfont-family: Times New Roman;  
    color: #218AC2;
}

.CollaboratingX {
    xxfont-family: Patrick Hand;
    color: #D46C11;
}

.ReleasingX {
  xx font-family: 'Playfair Display', serif;
    color: #D41111;
}

.PlanningX {
    xxfont-family: Oxygen;
    color: #C111D4;
}

.DevelopingX {
    xxfont-family: Courier;
    color: #11BD2B;
}

.Thinking {
    xxfont-family: Times New Roman;  
    color: #fff;
    background: #218AC2;
}

.Collaborating {
    xxfont-family: Patrick Hand;
    color: #fff;
    background: #D46C11;
}

.Releasing {
    xxfont-family: 'Playfair Display', serif;
    color: #fff;
    background: #D41111;
}

.Planning {
    xxfont-family: Oxygen;
    color: #fff;
    background: #C111D4;
}

.Developing {
    xxfont-family: Courier;
    color: #fff;
    background: #11BD2B;
}

#help {
 
    
}

#helpText {
 
    width: 700px;
    height: 200px;
    overflow: auto;
    background: #FFF;
    color: black;
    text-align: left;
    font-family: Courier;
    font-size: 11pt;
    
    
}

#copypad {
    
    width: 700px;
    height: 200px;    
    
}


/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.gridster {
    width: 960px;
    margin: 0 auto;
}

.gridster .gs-w {
    xxbackground: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}